pymupdf==1.25.5
pandas==2.2.1
openai==1.70.0
python-dotenv==1.0.1
tqdm==4.67.1
scikit-learn==1.6.1
transformers
torch
accelerate
peft
datasets
huggingface-hub
tensorboard
nltk
rouge-score
argparse
bitsandbytes
gradio
vllm
fastapi
starlette
uvicorn
asyncio
aiohttp